{{!--
<!DOCTYPE html>
<html>

<head>
    <title>"appName</title>
</head>

<body style="background-color: #fafafa">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600px"
        style="width: 600px; background-color: #fff">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #19399e">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href="https://imgbb.com/"><img
                                                            src="https://i.ibb.co/kmVbJzz/vpharmacylogo.png"
                                                            alt="vpharmacylogo"></a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            Dear {{name}},
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            We wanted to extend a warm welcome to you and thank you for being a part of joining the V
                            Pharmacy
                            . We are thrilled to have you as a member of our community.

                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                            As an {{designation}}, you now have access to a variety of features that will help you
                            explore the
                            different activies. We're confident that you'll love using our platform and find it easy to
                            navigate.
                        </td>

            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>

        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Here is the Email And Password below through which you can Login. Once you successfully login, you can
                change your password as per the requirement.
            </td>

            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>

        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Email : {{email}}
            </td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Password : {{password}}
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>

        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Thank you for using V Pharmacy, and we look forward to helping you with our team.
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                Sincerely,
            </td>
        </tr>
        <tr height="0">
            <td></td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                V Pharmacy
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>
        <tr>
            <td style="
                  box-sizing: border-box;
                  color: #050f2f;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: inherit;
                  line-height: inherit;
                  text-align: left;
                  padding: 0;
                ">
                If you have any questions or concerns, please don't hesitate to contact us at
                "contactEmai".
            </td>
        </tr>

        <tr height="10">
            <td></td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #333743">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr height="10">
                                    <td></td>
                                </tr>
                                <tr height="8" style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                ">
                                    <td style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                "> &copy; All Rights Reserve</td>
                                </tr>
                                <tr height="10">
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                        <td width="41"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    <td width="55"></td>
    </tr>

    </table>
</body>

</html> --}}

{{!-- re formated 2 --}}

<!DOCTYPE html>
<html>

<head>
    <title>V Pharmacy</title>
</head>

<body style="background-color: #fafafa;">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600" style="background-color: #fff;">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #19399e;">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href="https://imgbb.com/"><img
                                                            src="https://i.ibb.co/kmVbJzz/vpharmacylogo.png" wi
                                                            alt="vpharmacylogo"></a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Dear {{name}},
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            We wanted to extend a warm welcome to you and thank you for joining V Pharmacy. We are
                            thrilled to have you as a member of our community.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            As an {{designation}}, you now have access to a variety of features that will help you
                            explore the different activities. We're confident that you'll love using our platform and
                            find it easy to navigate.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Here is the Email and Password below through which you can log in. Once you successfully log
                            in, you can change your password as per your requirement.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Email: {{email}}
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Password: {{password}}
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Thank you for using V Pharmacy, and we look forward to helping you with our team.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Sincerely,
                        </td>
                    </tr>
                    <tr height="0">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            V Pharmacy
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            If you have any questions or concerns, please don't hesitate to contact us at
                            {{contactEmail}}.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #333743;">
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr height="8">
                                                <td style="color: white; text-align: center;">&copy; All Rights Reserved
                                                </td>
                                            </tr>
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="55"></td>
        </tr>
    </table>
</body>

</html>
{{!--
<!DOCTYPE html>
<html>

<head>
    <title>V Pharmacy</title>
</head>

<body style="background-color: #fafafa;">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600" style="background-color: #fff;">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #19399e;">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href="https://imgbb.com/">
                                                        <img src="https://i.ibb.co/kmVbJzz/vpharmacylogo.png"
                                                            alt="vpharmacylogo" style="width: 150px;">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Dear {{name}},
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            We wanted to extend a warm welcome to you and thank you for joining V Pharmacy. We are
                            thrilled to have you as a member of our community.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            As an {{designation}}, you now have access to a variety of features that will help you
                            explore the different activities. We're confident that you'll love using our platform and
                            find it easy to navigate.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Here is the Email and Password below through which you can log in. Once you successfully log
                            in, you can change your password as per your requirement.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Email: {{email}}
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Password: {{password}}
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Thank you for using V Pharmacy, and we look forward to helping you with our team.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            Sincerely,
                        </td>
                    </tr>
                    <tr height="0">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            V Pharmacy
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="color: #050f2f; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 0;">
                            If you have any questions or concerns, please don't hesitate to contact us at
                            {{contactEmail}}.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #333743;">
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr height="8">
                                                <td style="color: white; text-align: center;">&copy; All Rights Reserved
                                                </td>
                                            </tr>
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="55"></td>
        </tr>
    </table>
</body>

</html> --}}